<html>
    <head>
        <title>Hello World</title>
    </head>

    <body>
        <ul>
            <% datas.forEach((data) => { %>
                <li><%= data.who %> is <%= data.is %></li>
            <% }) %>
        </ul>
    </body>

</html>